@keyframes mover {
    0% { transform: translateX(0); background-color: lightblue; }
    50% { transform: translateX(100px) rotate(180deg); background-color: lightgreen; }
    100% { transform: translateX(0); background-color: lightblue; }
}
.caja {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    animation: mover 3s infinite ease-in-out;
    display: flex;
    justify-content: center;
    color: yellowgreen;
    border-radius: 8px;
}
