div p {
    color: blueviolet;
    background-color: black;
    text-align: center;
}
ul > li {
    color: blueviolet;
    background-color: black;
    text-align: center;
}
a:hover {
    color: greenyellow;
    text-decoration: underline;
}
input[type="text"] {
    border: 2px solid blueviolet;
    padding: 5px;
} 
