.layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";

}
header{
    grid-area: header;
    background-color: rgb(0, 191, 255);
    padding: 10px;
}
main{
    grid-area: main;
    background-color: rgb(0, 255, 0);
    padding: 10px;
}
footer{
    grid-area: footer;
    background-color: rgb(255, 0, 0);
    padding: 10px;
}
.layout > * {
    border: 2px solid black;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    padding: 20px;
}